<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.depark">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_newhome"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_newhome_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity android:name=".TimeFragment" />
        <activity android:name=".QrCodeFragment" />
        <activity android:name=".HomeFragment" />
        <activity android:name=".FeedbackFragment" />
        <activity android:name=".ValetFragment" />
        <activity android:name=".MainAdminActivity" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".ProfileFragment" />
        <activity android:name=".UpdateProfileActivity" />
        <activity android:name=".PasswordActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForumFragment" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>